[Desktop Entry]
Name=Glosbit
Comment=Dictionary application powered by glosbe.com
Version=1.2
Exec=glosbit
MimeType=application/x-glosbit;
Icon=languages
Type=Application
Terminal=false
Categories=Qt;KDE;
