[Desktop Entry]
Name=Glosbit
Comment=Dictionary application powered by glosbe.com
Exec=glosbit %u
MimeType=application/x-glosbit;
Icon=languages
Type=Application
Terminal=false
Categories=Qt;KDE;
